.version.index /* version checker */
{
	color: #0000EF;
	background-color: #5D13E0;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #FFFFFF;
	background-color: transparent;
}

#page_position_content
{
	width: 0.01px;
}

#u1188
{
	z-index: 2;
	min-height: 67px;
	padding-bottom: 4px;
}

#u1190
{
	z-index: 4;
	width: 62px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 159px;
}

#u1190 .clip_frame
{
	-webkit-border-radius: 20px 20px 20px 20px;
}

#u1188-bw
{
	z-index: 2;
	min-height: 67px;
}

#pu1669-4
{
	width: 0.01px;
	margin-left: 25px;
}

#u1669-4
{
	z-index: 6;
	width: 330px;
	min-height: 94px;
	background-color: transparent;
	font-size: 40px;
	text-align: center;
	line-height: 48px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u1862
{
	z-index: 28;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 69px;
}

#u1670-4
{
	z-index: 10;
	width: 330px;
	min-height: 88px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-left: 25px;
	margin-top: 10px;
	position: relative;
}

#pu1790-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 62px;
}

#u1790-4
{
	z-index: 14;
	width: 163px;
	min-height: 38px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1791-4
{
	z-index: 18;
	width: 163px;
	min-height: 38px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 164px;
}

#u1790-4:hover,#u1791-4:hover
{
	border-color: #0071BC;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 163px;
	margin: -1px -10000px -1px 0px;
}

#u1792-4
{
	z-index: 22;
	width: 163px;
	min-height: 38px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-left: 107px;
	margin-top: 19px;
	position: relative;
}

#u1792-4:hover
{
	border-color: #0071BC;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 163px;
	margin: 19px 0px 0px 107px;
}

#u1848
{
	z-index: 26;
	width: 193px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 94px;
	margin-top: 5px;
	position: relative;
}

#u1850
{
	z-index: 27;
	width: 235px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 73px;
	margin-top: 6px;
	position: relative;
}

#u1189,#u1189-bw
{
	z-index: 3;
	height: 71px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

