.version.lifetime_connect_community_garden /* version checker */
{
	color: #0000F1;
	background-color: #756942;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	width: 0.01px;
}

#u1188
{
	z-index: 2;
	min-height: 67px;
	padding-bottom: 4px;
}

#u1190
{
	z-index: 4;
	width: 62px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 159px;
}

#u1188-bw
{
	z-index: 2;
	min-height: 67px;
}

#pu1840-4
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 4px;
}

#u1840-4
{
	z-index: 6;
	width: 324px;
	min-height: 56px;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u1869
{
	z-index: 16;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 72px;
}

#u1841
{
	z-index: 10;
	width: 231px;
	background-color: transparent;
	margin-left: 74px;
	position: relative;
}

#u1847-4
{
	z-index: 12;
	width: 310px;
	min-height: 78px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-left: 35px;
	margin-top: 24px;
	position: relative;
}

#u1189
{
	z-index: 3;
	height: 71px;
}

#u1189-bw
{
	z-index: 3;
	margin-top: 92px;
	height: 71px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

