.version.nambucca /* version checker */
{
	color: #0000F4;
	background-color: #C9159D;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	width: 0.01px;
}

#u1188
{
	z-index: 2;
	min-height: 67px;
	padding-bottom: 4px;
}

#u1190
{
	z-index: 4;
	width: 62px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 159px;
}

#u1188-bw
{
	z-index: 2;
	min-height: 67px;
}

#pu1809-4
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 14px;
}

#u1809-4
{
	z-index: 6;
	width: 293px;
	min-height: 66px;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1864
{
	z-index: 14;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u1810-4
{
	z-index: 10;
	width: 293px;
	min-height: 214px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	margin-left: 44px;
	margin-top: 6px;
	position: relative;
}

#u1189
{
	z-index: 3;
	height: 71px;
}

#u1189-bw
{
	z-index: 3;
	margin-top: 94px;
	height: 71px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

